<div class="container calendar">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Upcoming Appointments</h6>
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="3/21/21 12:30pm">
                                <h3>COVID19 Vaccine</h3>
                                <p>Pfizer 1st dose</p>
                            </li>
                            <li class="event" data-date="4/11/21 12:30pm">
                                <h3>COVID19 Vaccine</h3>
                                <p>Pfizer 2nd dose</p>
                            </li>
                            <li class="event" data-date="4/15/21 12:30pm">
                                <h3>Blood Draw</h3>
                                <p>Please be ontime</p>
                            </li>
                            <li class="event" data-date="4/30/21 12:30pm">
                                <h3>Mammogram</h3>
                                <p>Mammogram</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>