<div class="container calendar">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <a href="" class="notifications" data-toggle="modal" data-target="#notificationModal">Edit Appointments or Notifications</a>
                    <h6 class="card-title">Upcoming Appointments</h6>                    
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="3/21/21 12:30pm">
                                <h3>COVID19 Vaccine</h3>
                                <p>Pfizer 1st dose</p>
                            </li>
                            <li class="event" data-date="4/11/21 12:30pm">
                                <h3>COVID19 Vaccine</h3>
                                <p>Pfizer 2nd dose</p>
                            </li>
                            <li class="event" data-date="4/15/21 12:30pm">
                                <h3>Blood Draw</h3>
                                <p>Please be ontime</p>
                            </li>
                            <li class="event" data-date="4/30/21 12:30pm">
                                <h3>Colonoscopy</h3>
                                <p>Colonoscopy</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notificationModalLabel">Edit Notifications</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Event</th>
                    <th scope="col">Email(s)</th>
                    <th scope="col">Reminder</th>
                    <th scope="col">Modified By</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>03/21/21</td>
                    <td>COVID19 Vaccine</td>
                    <td>joe@xantie.com;</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                1 Day Before
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">1 Day Before</a>
                                <a class="dropdown-item" href="#">12 Hours Before</a>
                                <a class="dropdown-item" href="#">6 Hours Before</a>
                                <a class="dropdown-item" href="#">3 Hours Before</a>
                                <a class="dropdown-item" href="#">1 Hour Before</a>
                                <a class="dropdown-item" href="#">30 Minutes Before</a>
                            </div>
                        </div>
                    </td>
                    <td>joe@xantie.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <td>04/11/21</td>
                    <td>COVID19 Vaccine</td>
                    <td>joe@xantie.com;</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                1 Day Before
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">1 Day Before</a>
                                <a class="dropdown-item" href="#">12 Hours Before</a>
                                <a class="dropdown-item" href="#">6 Hours Before</a>
                                <a class="dropdown-item" href="#">3 Hours Before</a>
                                <a class="dropdown-item" href="#">1 Hour Before</a>
                                <a class="dropdown-item" href="#">30 Minutes Before</a>
                            </div>
                        </div>
                    </td>
                    <td>joe@xantie.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <td>04/15/21</td>
                    <td>Blood Draw</td>
                    <td>joe@xantie.com;</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                1 Day Before
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">1 Day Before</a>
                                <a class="dropdown-item" href="#">12 Hours Before</a>
                                <a class="dropdown-item" href="#">6 Hours Before</a>
                                <a class="dropdown-item" href="#">3 Hours Before</a>
                                <a class="dropdown-item" href="#">1 Hour Before</a>
                                <a class="dropdown-item" href="#">30 Minutes Before</a>
                            </div>
                        </div>
                    </td>
                    <td>joe@xantie.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <td>04/30/21</td>
                    <td>Colonoscopy</td>
                    <td>joe@xantie.com;mariesa.whitaker@gmail.com;</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                1 Day Before
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">1 Day Before</a>
                                <a class="dropdown-item" href="#">12 Hours Before</a>
                                <a class="dropdown-item" href="#">6 Hours Before</a>
                                <a class="dropdown-item" href="#">3 Hours Before</a>
                                <a class="dropdown-item" href="#">1 Hour Before</a>
                                <a class="dropdown-item" href="#">30 Minutes Before</a>
                            </div>
                        </div>
                    </td>
                    <td>joe@xantie.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>