<div class="container-fluid dashboard-container">
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Heart Rate<span class="chartLabelType"> (bpm) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartHeartRateData" 
                    [labels]="lineChartHeartRateLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Systolic Blood Pressure<span class="chartLabelType"> (mmHg) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartBloodPressureData" 
                    [labels]="lineChartBloodPressureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Diastolic Blood Pressure<span class="chartLabelType"> (mmHg) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartBloodPressureData" 
                    [labels]="lineChartBloodPressureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Mean Blood Pressure<span class="chartLabelType"> (mmHg) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartBloodPressureData" 
                    [labels]="lineChartBloodPressureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Respiratory rate<span class="chartLabelType"> (bpm) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Oxygen Saturation<span class="chartLabelType"> (%) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="" data-toggle="modal" data-target="#exampleModal">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Systolic Blood Pressure</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Blood Pressure</th>
                    <th scope="col">Modified By</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>02/01/21</td>
                    <td>75</td>
                    <td>mike@kagenmd.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <td>02/08/21</td>
                    <td>77</td>
                    <td>joe@xantie.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <td>02/15/21</td>
                    <td>78</td>
                    <td>mike@kagenmd.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <td>02/22/21</td>
                    <td>75</td>
                    <td>mike@kagenmd.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <td>03/01/21</td>
                    <td>77</td>
                    <td>mike@kagenmd.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <td>03/08/21</td>
                    <td>78</td>
                    <td>joe@xantie.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <td>03/15/21</td>
                    <td>74</td>
                    <td>joe@xantie.com</td>
                    <td><a href="">Edit</a></td>
                  </tr>
                  <tr>
                    <a href="">+ Entry</a>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>