<div class="container-fluid dashboard-container">
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Heart Rate<span class="chartLabelType"> (bpm) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartHeartRateData" 
                    [labels]="lineChartHeartRateLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Systolic Blood Pressure<span class="chartLabelType"> (mmHg) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartBloodPressureData" 
                    [labels]="lineChartBloodPressureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Diastolic Blood Pressure<span class="chartLabelType"> (mmHg) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartBloodPressureData" 
                    [labels]="lineChartBloodPressureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Mean Blood Pressure<span class="chartLabelType"> (mmHg) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartBloodPressureData" 
                    [labels]="lineChartBloodPressureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Respiratory rate<span class="chartLabelType"> (bpm) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Oxygen Saturation<span class="chartLabelType"> (%) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row lineChart">
        <div class="col-1 chartLabel">
            Temperature<span class="chartLabelType"> (C) </span>
            <br/>
            <a href="#">Edit</a>
        </div>
        <div class="col-11">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartTemperatureData" 
                    [labels]="lineChartTemperatureLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
</div>