.personalinfoform {
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 1%;
}

.title {
    font-size: 1.2em;
    font-weight: 700;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
.separator {
    font-size: 0.8em;
    font-weight: 600;
}