<!-- <div class="pos-f-t"> -->
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Menu</h4>
      <!-- <span class="text-muted">Toggleable via the navbar brand.</span> -->
      <a [routerLink]="[ '/', 'dashboard' ]" routerLinkActive="active" data-toggle="collapse" data-target="#navbarToggleExternalContent">Dashboard</a> <br/>
      <a [routerLink]="[ '/', 'myfiles' ]" routerLinkActive="active" data-toggle="collapse" data-target="#navbarToggleExternalContent">My Files</a> <br/>
      <a [routerLink]="[ '/', 'myimages' ]" routerLinkActive="active" data-toggle="collapse" data-target="#navbarToggleExternalContent">My Images</a> <br/>
      <a [routerLink]="[ '/', 'mynotes' ]" routerLinkActive="active" data-toggle="collapse" data-target="#navbarToggleExternalContent">My Notes</a> <br/>
      <a [routerLink]="[ '/', 'sharing' ]" routerLinkActive="active" data-toggle="collapse" data-target="#navbarToggleExternalContent">Sharing</a> <br/>
      <a [routerLink]="[ '/', 'personalinfo' ]" routerLinkActive="active" data-toggle="collapse" data-target="#navbarToggleExternalContent">Update Personal Info</a> <br/>
      <a [routerLink]="[ '/', 'pedigree' ]" routerLinkActive="active" data-toggle="collapse" data-target="#navbarToggleExternalContent">Pedigree Tree</a> <br/>
    </div>
  </div>
  
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="color:white; text-align: center; font-size: 1.5em; font-weight: 600;">My Health Fyle</div>
    <img src="/assets/images/kagen_logo.png" style="width: 4%;">
  </nav>
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <img src="/assets/images/kagen_logo.png" style="width: 100%;">
      </div>
      <div class="col-8"><div style="color:white; text-align: center;">MyHealthFyle</div></div>
    </div>
    <div class="col-2">
    </div>
  </div> -->
<!-- </div> -->
