<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center title">
            Pedigree
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 text-center subtitle">
            PATERNAL TREE
            <div class="tree">
                <ul>
                    <li>
                        <a href="" data-toggle="modal" data-target="#pedigreeModal">Grandfather</a>
                        <a href="" data-toggle="modal" data-target="#pedigreeModal">Grandmother</a>
                        <ul>
                            <li>
                                <a href="" data-toggle="modal" data-target="#pedigreeModal">Father</a>
                                <ul>
                                    <li><a href="" data-toggle="modal" data-target="#pedigreeModal">Me!</a></li>
                                    <li>
                                        <a href="" data-toggle="modal" data-target="#pedigreeModal">Brother</a>
                                        <ul>
                                            <li>
                                                <a href="" data-toggle="modal" data-target="#pedigreeModal">Nephew</a>
                                            </li>
                                            <li>
                                                <a href="" data-toggle="modal" data-target="#pedigreeModal">Nephew</a>
                                            </li>
                                            <li>
                                                <a href="" data-toggle="modal" data-target="#pedigreeModal">Niece</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="" data-toggle="modal" data-target="#pedigreeModal">Sister</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-5 text-center subtitle">
            MATERNAL TREE
            <div class="tree">
                <ul>
                    <li>
                        <a href="" data-toggle="modal" data-target="#pedigreeModal">Grandfather</a>
                        <a href="" data-toggle="modal" data-target="#pedigreeModal">Grandmother</a>
                        <ul>
                            <li>
                                <a href="" data-toggle="modal" data-target="#pedigreeModal">Mother</a>
                                <ul>
                                    <li><a href="" data-toggle="modal" data-target="#pedigreeModal">Me!</a></li>
                                    <li>
                                        <a href="" data-toggle="modal" data-target="#pedigreeModal">Brother</a>
                                        <ul>
                                            <li>
                                                <a href="" data-toggle="modal" data-target="#pedigreeModal">Nephew</a>
                                            </li>
                                            <li>
                                                <a href="" data-toggle="modal" data-target="#pedigreeModal">Nephew</a>
                                            </li>
                                            <li>
                                                <a href="" data-toggle="modal" data-target="#pedigreeModal">Niece</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="" data-toggle="modal" data-target="#pedigreeModal">Sister</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="pedigreeModal" tabindex="-1" role="dialog" aria-labelledby="pedigreeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pedigreeModalLabel">Edit Pedigree</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Paternal/Maternal</th>
                    <th scope="col">Relationship</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Health Issues</th>
                    <th scope="col">Modified By</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Paternal
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Paternal</a>
                                <a class="dropdown-item" href="#">Maternal</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Father
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Father</a>
                                <a class="dropdown-item" href="#">Mother</a>
                                <a class="dropdown-item" href="#">Grandfather</a>
                                <a class="dropdown-item" href="#">Grandmother</a>
                                <a class="dropdown-item" href="#">Aunt</a>
                                <a class="dropdown-item" href="#">Uncle</a>
                                <a class="dropdown-item" href="#">Brother</a>
                                <a class="dropdown-item" href="#">Sister</a>
                                <a class="dropdown-item" href="#">Daughter</a>
                                <a class="dropdown-item" href="#">Son</a>
                            </div>
                        </div>
                    </td>
                    <td>Daddy!</td>
                    <td>dad@gmail.com</td>
                    <td>Healthy as a whistle</td>
                    <td>joe@xantie.com</td>
                    <td><a href=""  data-toggle="modal" data-target="#pedigreeModal">Edit</a></td>
                  </tr>
                  <tr>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Maternal
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Paternal</a>
                                <a class="dropdown-item" href="#">Maternal</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mother
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Father</a>
                                <a class="dropdown-item" href="#">Mother</a>
                                <a class="dropdown-item" href="#">Grandfather</a>
                                <a class="dropdown-item" href="#">Grandmother</a>
                                <a class="dropdown-item" href="#">Aunt</a>
                                <a class="dropdown-item" href="#">Uncle</a>
                                <a class="dropdown-item" href="#">Brother</a>
                                <a class="dropdown-item" href="#">Sister</a>
                                <a class="dropdown-item" href="#">Daughter</a>
                                <a class="dropdown-item" href="#">Son</a>
                            </div>
                        </div>
                    </td>
                    <td>Mommy!</td>
                    <td>mom@gmail.com</td>
                    <td>Breast Cancer</td>
                    <td>joe@xantie.com</td>
                    <td><a href=""  data-toggle="modal" data-target="#pedigreeModal">Edit</a></td>
                  </tr>
                  <tr>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Paternal
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Paternal</a>
                                <a class="dropdown-item" href="#">Maternal</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Grandfather
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Father</a>
                                <a class="dropdown-item" href="#">Mother</a>
                                <a class="dropdown-item" href="#">Grandfather</a>
                                <a class="dropdown-item" href="#">Grandmother</a>
                                <a class="dropdown-item" href="#">Aunt</a>
                                <a class="dropdown-item" href="#">Uncle</a>
                                <a class="dropdown-item" href="#">Brother</a>
                                <a class="dropdown-item" href="#">Sister</a>
                                <a class="dropdown-item" href="#">Daughter</a>
                                <a class="dropdown-item" href="#">Son</a>
                            </div>
                        </div>
                    </td>
                    <td>Papa!</td>
                    <td>papa@gmail.com</td>
                    <td>Healthy as a whistle</td>
                    <td>joe@xantie.com</td>
                    <td><a href=""  data-toggle="modal" data-target="#pedigreeModal">Edit</a></td>
                  </tr>
                  <tr>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Paternal
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Paternal</a>
                                <a class="dropdown-item" href="#">Maternal</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Grandmother
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Father</a>
                                <a class="dropdown-item" href="#">Mother</a>
                                <a class="dropdown-item" href="#">Grandfather</a>
                                <a class="dropdown-item" href="#">Grandmother</a>
                                <a class="dropdown-item" href="#">Aunt</a>
                                <a class="dropdown-item" href="#">Uncle</a>
                                <a class="dropdown-item" href="#">Brother</a>
                                <a class="dropdown-item" href="#">Sister</a>
                                <a class="dropdown-item" href="#">Daughter</a>
                                <a class="dropdown-item" href="#">Son</a>
                            </div>
                        </div>
                    </td>
                    <td>MeeMaw!</td>
                    <td>meemaw@gmail.com</td>
                    <td>Healthy as a whistle</td>
                    <td>joe@xantie.com</td>
                    <td><a href=""  data-toggle="modal" data-target="#pedigreeModal">Edit</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>